body,
html {
    background: initial;
    font-family: initial;
}

tr:nth-child(even) {
    background: initial;
}

th {
    text-align: initial;
    font-weight: initial;
    background: initial;
    border-bottom: initial;
}

table#list {
    border: none;
    width: 100%;
}

a:hover {
    color: #3d3d3d;
}

html {
    font-size: 16px;
}

body {
    font-family: "Open sans", sans-serif;
    color: #3d3d3d;
    line-height: 1.4;
    margin: 0;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: bold;
}

h1 {
    padding-left: 1rem;
}

th,
td {
    padding: .5rem 1rem;
}

th {
    border-bottom: 2px solid #ebebeb;
    text-align: left;
    font-size: 1.2rem;
}

td {
    border-bottom: 1px solid #ebebeb;
}

@media screen and (max-width: 500px) {
    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3) {
        display: none;
    }
}
